TI_lab2/lab2.dtd

<!ELEMENT biblioteka (dzial+)>
<!ELEMENT dzial (nazwa-el, ksiazka+)>
<!ATTLIST dzial
          nazwa CDATA #REQUIRED>
<!ELEMENT nazwa-el (#PCDATA)>
<!ELEMENT ksiazka (autor+, tytul, cena)>
<!ELEMENT autor (imie, nazwisko)>
<!ELEMENT imie (#PCDATA)>
<!ELEMENT nazwisko (#PCDATA)>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
